#pogrubienie_grabarczyk {
  font-size: 35px  
  color: #B3A6A2
}


#pochylona_grabarczyk {
  font-size: 40px;
  color: #8E9FBC
}


#index_gorny_grabarczyk {
  font-size: 1.5cm
  color: #00664F
}


#index_dolny_grabarczyk {
  font-size: 2.5cm;
  color: 
}


#mono_grabarczyk {
  font-size: 45px;
  color: #215732
}


#powiekszenie_grabarczyk {
  color: #59CBE8
}


#pomniejszenie_grabarczyk {
  color: 
